# DB_HOST: The hostname of your MySQL database.
DB_HOST="auth-db1872.hstgr.io"

# DB_USER: The username for your MySQL database.
DB_USER="u961893888_sh_db_website"

# DB_PASSWORD: The password for your MySQL database.
DB_PASSWORD=""

# DB_NAME: The name of your MySQL database.
DB_NAME="u961893888_SH_db_250426"

# DB_PORT: The port for your MySQL database.
DB_PORT="3306"
